/* Enter your custom styles here */
.languageCSS {
	padding-top: 1rem !important;
}

.popoverImagePadding{
	padding-left: 1rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}

.popoverTextPadding{
	padding-right:1rem;
}